<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>臻鴻程資料庫</title>
    <link href='/css/entrance.css' rel='stylesheet' />
</head>

<body>
    <main>
        <img src="/icon/logo.gif" alt="logo" height='330' id="logo">
        <br>
        <header>歡迎登入資料後台</header>
        <br>
        <form action='/' method='POST'>
            <section>
                <div>
                    <img src="/icon/avatar.png" alt="User" name='icon' width="40">
                    <input type='text' placeholder="請輸入帳號" name="account">
                </div>
                <br>
                <div>
                    <img src="/icon/lock.png" alt="Lock" name='icon' width="40">
                    <input type='password' placeholder="請輸入密碼" name="password">
                </div>
            </section>
            <button type='submit' id="login">登入</button>
        </form>
        <a href="/" id="a_forget">忘記密碼</a>
        <br>
        <a name='btn-register' href="/register" id='a_regist'>( 註冊帳號請點此 )</a>
    </main>
</body>

</html>