<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>註冊帳號</title>
    <link href='register.css' rel='stylesheet' />
</head>

<body>
    <header>
    </header>
    <main>
        <form method="POST" action="/">
            <div>
                <p>姓名
                    <span>
                        <input type="text">
                    </span>
                </p>
                <p>電話
                    <span>
                        <input type="text">
                    </span>
                </p>
                <p>工作項目
                    <span>
                        <input type="text">
                    </span>
                </p>
                <p>帳號
                    <span>
                        <input type="text">
                    </span>
                </p>
                <p>密碼
                    <span>
                        <input type="text" placeholder="輸入密碼">
                    </span>
                </p>
                <p>再次輸入密碼
                    <span>
                        <input type="text" placeholder="再次輸入密碼">
                        <span>
                            <button type="submit">註冊</button>
                        </span>
                    </span>
                </p>
            </div>
        </form>
    </main>
</body>

</html>