<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>註冊帳號</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="./include/register_j.js"></script>
    <link href='/css/Tab_page.css' rel='stylesheet' />
</head>

<body>
    <main>
        <div>
            <form class="edit-form" method="POST" action="/register">
                <label>姓名
                    <input type="text" name='workerName' id='workerName'>
                </label>
                <br>
                <label>電話
                    <input type="number" name='phoneNum' id='phoneNum'>
                </label>
                <br>
                <label>專業
                    <input type="text" name='workItem' id='workItem'>
                </label>
                <br>
                <label>帳號
                    <input type="text" name='account' id='account'>
                </label>
                <br>
                <label>密碼
                    <input type="text" placeholder="輸入密碼" name='password' id='password'>
                </label>
                <br>
                <label>再次輸入密碼
                    <input type="text" placeholder="再次輸入密碼" name='password_2' id='password_2'>
                </label>
                <input type="checkbox" class="hidden" name='editable'>
                <br>
                <button type="submit" id="btn-register" class="edit-data">註冊</button>
                <a href="/" class="cancel">取消</a>
            </form>
        </div>
    </main>
</body>

</html>