</head>

<body>

    <a href="/" id="logout">登出</a>

    <div class="tab-content" id="tabs">
        <ul class="btn-group" role="group">
            <li>
                <a href="/admin/product?edit=true" class="btn active">庫存</a>
            </li>
            <li>
                <a href="/admin/work?edit=true" class="btn work">工作紀錄</a>
            </li>
            <!-- <li>
                <a href="/history" class="btn">資料修改紀錄</a>
            </li> -->
            <li>
                <a href="/admin/account?edit=true" class="btn">帳號管理</a>
            </li>
        </ul>
    </div>