</head>

<body>
    <header>
        <img src="/logo_small.gif" alt="logo" id="logo_small" height="50">
        <h1>臻鴻程裝潢有限公司</h1>
        <img src="/user.png" alt="user" height="20" id="logo_user"><p>您好!</p>
        <a href="/" id="logout">登出</a>
    </header>   
    <main>
        <div id="tabs">
            <p>
                <img src="/cube.png" alt="cube" height="35">
                <a href="/product?edit=false" class="btn active">庫存</a>
            </p>
            <p>
                <img src="/notes.png" alt="notes" height="35">
                <a href="/work?edit=false" class="btn work">工作紀錄</a>
            </p>
            <!-- <p>
                <a href="/history" class="btn">資料修改紀錄</a>
            </p> -->
            <p>
                <img src="/gear.png" alt="gear" height="35">
                <a href="/account?edit=false" class="btn">帳號管理</a>
            </p>
        </div>