
body{
  height:100%;
  background-color: rgb(61, 60, 60);
  margin:0;
}
a{
  text-decoration: none;
}
header{
  /* 控制block內上下置中*/
  display: flex;  
  flex-wrap: wrap;          
  align-items: center;
  /* padding: 2pt; */
  background:  rgb(250,189,0);  
}
header * {
  color: white;
  display: inline-block;
  /* overflow: hidden;
  padding-top: 10px;
  vertical-align: auto; */
}  
main{
  display: inline-block;
  width: 100%;
  background-color: rgb(61, 60, 60);
}

#logo_small{
  padding: 0 12pt;
}
#logout{
  font-size: 13pt;
  font-weight: 700;
  color: white;
  padding: 7pt 13pt;
  border-radius: 10px;
  background-color:  rgb(114, 135, 198);
}
#logo_user{
  padding-left: calc(100% - 440pt);
  padding-right: 1%;
}

#tabs{
  display: inline-block;
  height:100%;
  float: left;
  padding-top: 40pt;
  padding-bottom: 254pt;
}
#plus-icon{
  border-radius: 10px;
  background-color: rgb(114, 135, 198);
  color: white;
  display: block;
  padding-left : 4pt;
  padding-bottom: 8pt;
  padding-top:8pt;
  width:100px;
  margin-top: 10pt;
  margin-bottom: 8pt;
}
div, table{
  display:  block;
  /* float: left; */
}
div>p{
  display: flex;
  /* background-color: gray; */
  /* list-style-type: none; */
  font-size: 12pt;
  padding-left: 20pt;
  padding-right: 20pt;
  height: 45pt;
  /* justify-content: center; */
  align-items: center;
}
div>p:hover {
  background-color:  gray;
}
img + p{
  padding-right: 10pt; 
}
p > img{
  padding-right: 5pt;
}
.btn{
  font-size: 12pt;
  color: white;
}

::placeholder {
  color: #ffffff;
  }

.hidden {
  display: none;
}
#show_table{
  padding: 0 30pt;
  background-color: gray;
  margin-left: 120pt;
  padding-bottom: 36pt;
  padding-top: 2pt;
}

.scroll {
  /* width: 100%;  */
  border-collapse: collapse;
  border-spacing: 00;
  /* border: 2px solid rgb(255, 255, 255); */
}
tbody, thead { display: block; }
/* 標題 */
th { 
  height: 40px;
  line-height: 40px;
  text-indent: 12pt;
  background-color: rgb(81, 81, 81);
  color: white;
  /* text-align: left; */
}

tbody{
  height: 350pt;
  color: black;
  background-color: rgb(255, 255, 255);
  /* 表格加上右邊srcoll bar*/
  width: calc(100% + 13pt);
  overflow-y: scroll;   
  overflow-x: scroll;
  border-top: 2px solid rgb(255, 255, 255); 
  line-height: 50px;
  text-align: center;
}
td, th {
  /* width: 20%; */ /* Optional */
  /* border-right: 1px solid rgb(255, 255, 255); */
  /* white-space: nowrap; */
}
tr td:last-child a{
  font-size: 3ft;
}

/* tbody td:last-child, thead th:last-child {
  border-right: none;
} */
table{
  table-layout: fixed;
  /* width: 100%; */
  /* border-collapse:separate; */
}
td, th {
  width: 150pt;  
}
td{
  /* border-bottom:rgb(255, 255, 255) 1px solid; */
}

/* 表格上欄 上下箭頭*/
.tablesorter-default .header,.tablesorter-default .tablesorter-header{
background-image:url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
background-position:center right;
background-repeat:no-repeat;
cursor:pointer;
white-space:normal;
padding:4px 20px 4px 4px;
}

.tablesorter-default td{
  /* padding:4px; */
}

/* hover變色 */
.tablesorter-default tbody>tr.even:hover>td,.tablesorter-default tbody>tr.hover>td,.tablesorter-default tbody>tr.odd:hover>td,.tablesorter-default tbody>tr:hover>td{
  background-color:rgb(243, 123, 43);
}
  